{% extends 'base.html' %} {% block content%}
<main>
  <h1>My Receipts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <td>{{expense}}</td>
        <td>{{expenses|length}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content%}
